SECRETS.py
*.pyc
__pycache__/SECRETS.cpython-36.pyc
__pycache__/
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/Project_Default.xml
*.xml
.idea/inspectionProfiles/Project_Default.xml
gsecrets.json
.idea/workspace.xml
SAVES/*