{
    "secrets":
    {
        "discord": "################################",
        "discord-dev": "################################",
        "pastebin": "################################"
    },

    "roles":
    {
        "invite-receivers": ["000000000000000000", "000000000000000000"]
    }
}
